.page-article-1 {
  height: 870px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
.page-article-1__container {
  height: 100%;
  width: 75%;
  display: flex;
}
.page-article-1__article {
  width: 100%;
  height: 100%;
  background-color: #08A033;
}
.page-article-1__aside{
  margin-right: 35px;
}
.page_article-1-block {
  width: 200px;
  height: 200px;
  background-color: #18A1AB;
  margin-bottom: 30px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
  font-size: 11px;
}

